/* StudentLogin */
body {
  background-image: url("C:\Users\lenovo\Desktop\AutomaticQuestioonPaper_Generator\Attendace\src\assets\background-pragati.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 0px;
  margin: 0px;
  font-family: '';
}

/* css for loading */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(60, 48, 48, 0.8);
}

.loading {
  flex-direction: column;
}

.login_block {
  width: 100%;
  height: fit-content;
  background-color: white;
  border: 2px solid white;
  border-radius: 2%;
  margin-top: 10%;
  text-align: center;
  font-family: '';
}

.login_block h2 {
  text-align: center;
  padding-top: 5%;
}

.login_block div {
  text-align: start;
  padding-left: 10%;

}

.login_block h2 {
  text-align: center;
  padding-top: 5%;
}

.login_block div {
  text-align: start;
  padding-left: 10%;

}

.myinputfield {
  width: 80%;
}

.inputfield {
  width: 30%;
}

.myinputfield2 {
  width: 80%;
}

.login_block span {
  margin-right: 67%;
  font-size: large;
}

.forgot_btn {
  border: none;
  margin-left: 50%;
}

.login_btn {
  width: 30%;
  height: 35px;
  /* background-color: orange; */
  background-color: blue;
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 5px;
}

.login_btn:hover {
  width: 30%;
  height: 35px;
  background-color: white;
  color: black;
  /* border: 2px solid orange; */
  border: 2px solid blue;
  font-weight: 500;
  border-radius: 5px;
}

.addadmin {
  height: fit-content;
  width: 100%;
  background-color: white;
  text-align: center;
  font-family: '';
}


/* StudentSignup */

.signup_block {
  height: fit-content;
  background-color: white;
  border: 2px solid white;
  border-radius: 2%;
  margin-top: 10%;
  text-align: center;
  font-family: '';
  font-size: large;

}

.signup_block div {
  text-align: start;
  padding: 3%;

}


.label-padding {
  padding-right: 5%;
}

.signup_align {
  text-align: start;
  padding: 3%;

}

.signup_align select {
  width: 80%;
  padding: 3%;
  margin-bottom: 15%;
}

.signup input {
  margin-bottom: 12%;
  border-radius: 4px;
  border: 1px solid black;
}


.font {
  font-family: '';
}

.addadmin_btn {
  width: 15%;
  height: 35px;
  /* background-color: orange; */
  background-color: blue;
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 5px;
}

.addadmin_btn:hover {
  width: 15%;
  height: 35px;
  background-color: white;
  color: black;
  /* border: 2px solid orange; */
  border: 2px solid blue;
  font-weight: 500;
  border-radius: 5px;
}

.category {
  width: 20%;
}

.navbar {
  flex-wrap: nowrap;
}

.login_btn2:hover {
  /* width: 30%; */
  height: 35px;
  background-color: white;
  color: black;
  /* border: 2px solid orange; */
  border: 2px soild blue;
  font-weight: 800;
  border-radius: 5px;
}

.login_btn2 {

  height: 35px;
  /* background-color: orange; */
  background-color: blue;
  color: white;
  border: none;

  border-radius: 5px;
}

.redirect {
  /* background-color: orange; */
  background-color: blue;
  
}

.redirect2 {
  height: fit-content;
  text-align: center;

}

/* StudentOtp CSS */

.otp_block {
  height: fit-content;
  background-color: white;
  border: 2px solid white;
  border-radius: 2%;
  margin-top: 10%;
  font-family: '';
}

.otp_msg {
  padding-left: 20%;
  padding-right: 20%;
}

.otp_input {
  width: 30px;
  margin: 5%;
  text-align: center;
}

.select {
  width: 100%;
}

.slide {
  padding: 1%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: large;
  font-family: '';
  border: solid 1px #c3c3c3;
  cursor: pointer;
}

.panel {
  width: 100%;
  padding: 2%;
  display: block;
  color: black;
  border: solid 1px #0ab3eb;
}

.panel2 {
  width: 100%;
  display: block;
  color: black;
  border: solid 1px #c3c3c3;
  padding-bottom: 3%;
}

.tablebody1 {
  background-color: beige;
  border-radius: 10px;
  padding: 3%;
  padding-top: 0%;
  font-family: '';
  height: auto
}


@media (max-width: 576px) {
  img {
    align-items: center;
  }

}

/* rupendra .table*/
table {
  width: 100%;
}

.vertical-lines {
  min-height: 20px;
  max-height: 200px;
  max-width: 100%;
  overflow-y: auto;
}

.vertical-lines tbody {
  min-height: 20px;
}

.vertical-lines td {
  min-height: 20px;
}

.vertical-lines th,
.vertical-lines td {
  border-right: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.vertical-lines th {
  border-bottom: 1px solid #000;
}

.vertical-lines th:last-child,
.vertical-lines td:last-child {
  border-right: none;
}

tr:last-child {
  border-bottom: 1px solid black;
}

.approve_btn {
  margin: 2% 0 0 45%;
}

.password-container {
  position: relative;
}

.teacher_info {
  width: 20%;
  margin-left: 40%;
}

.navbar {
  flex-wrap: nowrap;
}

.row {
  margin: 0;
  padding: 0;
}

.faculty_feed_table {
  min-height: 20px;
  /*max-height: 10px; */
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  overflow-x: auto;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
}

.header {
  display:flex;
  justify-content: center;
  align-items: center;
}
.inputfield5{
  width: 12%;
}

/* -------new-------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.loader-container1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.loader1 {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40%;
}

header h1{
  font-family: 'Kaushan Script', cursive;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #00ffea;
}

.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: rgb(0, 0, 0);
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: #000;
  font-size: 1em;
  font-weight: 600;
  transition-duration: .3s;
}

.Btn:hover {
  width: 130px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 20%;
  transition-duration: .3s;
  padding-left: 10px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px, 2px);
}

.navbar1 {
  float: left;
  width: 15%;
  background-color: #ffffff73;
  height: 100vh;
  overflow: hidden;
  margin-top: 5%;
  z-index: 3;
}

.navbar1 ul {
  margin-top: 16%;
}

.navbar1 ul li {
  list-style: none;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ddd;
  border-radius: 5px;
}

.navbar1 ul li a {
  text-decoration: none;
  color: #333;
}

.left-side {
  overflow: scroll;
  height: 90vh;
}

.left-side h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 800;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#student-list {
  list-style: none !important;
  padding: 0;
  margin: 0;
  margin: 10%;
}

.student-item {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ddd;
  border-radius: 5px;
}

.student-item:hover,
.navbar1 ul li:hover {
  /* background-color: #ff7b00; */
  background-color: blue;
}

#student-details {
  width: 100%;
  height: fit-content;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro{
  padding-top: 5%;
}

.image {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#student-details img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

footer {
  clear: both;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
}

@media only screen and (max-width: 320px) {
  .intro{
    font-size: 0.8rem;
    padding: 10px;
  }

  #student-list {
    font-size: 0.7rem;
  }

  #student-name{
    font-size: 0.8rem;
    text-align: center;
  }

  #student-rollnumber{
    font-size: 0.8rem;
    text-align: center;
  }

  #student-details img{
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .intro{
    font-size: 0.9rem;
    padding: 10px;
  }

  #student-list {
    font-size: 0.8rem;
  }

  #student-name{
    font-size: 0.9rem;
    text-align: center;
  }

  #student-rollnumber{
    font-size: 0.9rem;
    text-align: center;
  }

  #student-details img{
    height: 100%;
    width: 75%;
  }
}

@media only screen and (max-width: 425px) {
  .intro{
    font-size: 0.9rem;
    padding: 10px;
  }

  #student-list {
    font-size: 0.8rem;
  }

  #student-name{
    font-size: 0.8rem;
  }

  #student-rollnumber{
    font-size: 0.8rem;
  }

  #student-details img{
    height: 100%;
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .intro{
    font-size: 1rem;
    padding: 10px;
  }

  #student-list {
    font-size: 0.9rem;
  }

  #student-name{
    font-size: 1rem;
    text-align: center;
  }

  #student-rollnumber{
    font-size: 1rem;
    text-align: center;
  }

  #student-details img{
    height: 100%;
    width: 75%;
  }
}



.sizeHead h1{
  font-size:330%;
  font-family: '';
}
.marquee{
  height: 40px;
  width: 100%;
  font-size: larger;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: blue;
  padding-top: 0.3%;  
}
.latest{
  margin-left: 12%;
  font-size: large;
  background-color: #304267;
  width: 10%;
  color: #ffffff;
  height: 100%;
  text-align: center;
  padding-top: 0.8%;
}
.top{
  height: 50px;
  background-color:blue
  
}

/* ///////////////////////////////////////////////// */

/* practice css */

.nav{
  width: 100%;
  height: 50px;
  text-align: center;
  justify-content: space-between;
}
.nav button{
  padding: 0.5%;
  font-size: large;
  font-weight: 600;
  font-family: inherit;
  border: none;
  background-color: white;
}
.nav button:hover{
  background-color: #0ab3eb;
  border-radius: 25px;
  transition:1s;

}
.box{
  height: 500px;
  text-align: center;
}
.details{
  font-size: larger;
  font-weight: 500;
}
.form{
  margin: 0;
  padding: 0;
  text-align: start;
  width: 100%;
}
.form input{
  width: 90%;
}
.form button{
  border:none;
  
}